<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="shortcut icon" href="img/icon.png" type="image/png")
        title Ihor Kostin | Front-End Developer
        link(href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet")
        link(href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet")
        link(rel='stylesheet' href='style.css')
    body
        section.first-screen
            .first-screen__content
                .logo
                    h2.logo__title Bhromaon
                    p.logo__subtitle Safe Travel Anywhere
                .search
                    form.search__form
                        input.search__line(type="search" placeholder="Search Your Travel Destination")
                        button.search__button(type="submit")
                            span.button__text
                                svg(class="lupa" width="20" height="22" viewbox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M18.9493 21.027L13.1822 15.243C12.8459 15.5458 12.4793 15.8133 12.0882 16.041C11.6907 16.2736 11.275 16.4735 10.8452 16.639C10.403 16.8088 9.94511 16.9341 9.47814 17.013C8.99713 17.096 8.52512 17.138 8.06112 17.138C6.97488 17.1466 5.89907 16.9258 4.90407 16.49C3.94899 16.0737 3.08059 15.4818 2.34402 14.745C1.61101 14.0085 1.02849 13.1362 0.628996 12.177C0.213078 11.1911 0.00147447 10.131 0.00698553 9.06098C-0.00175053 7.9982 0.200294 6.94423 0.601435 5.96002C1.00258 4.9758 1.59486 4.08088 2.34402 3.32699C3.09387 2.57698 3.9854 1.98359 4.96672 1.58135C5.94805 1.1791 6.99958 0.976047 8.06012 0.983989C9.15413 0.983989 10.1902 1.19199 11.1672 1.60699C12.1452 2.02299 12.9982 2.59699 13.7272 3.32699C14.4619 4.06735 15.0519 4.93824 15.4672 5.89499C15.8982 6.87499 16.1142 7.93098 16.1142 9.06098C16.1142 9.52698 16.0722 10.001 15.9902 10.481C15.9072 10.964 15.7822 11.421 15.6172 11.853C15.4516 12.2835 15.2519 12.7001 15.0202 13.099C14.7935 13.4909 14.5271 13.8585 14.2252 14.196L19.9923 19.98L18.9493 21.027ZM1.39901 11.853C1.75859 12.7103 2.28205 13.4892 2.94003 14.146C3.60378 14.8117 4.3885 15.3445 5.25207 15.716C6.13874 16.1003 7.09574 16.2958 8.06212 16.29C9.05513 16.29 9.98215 16.1 10.8452 15.717C11.6987 15.3407 12.4743 14.8082 13.1322 14.147C13.7922 13.4862 14.3232 12.7083 14.6982 11.853C15.0782 10.989 15.2702 10.058 15.2702 9.06098C15.2702 8.06398 15.0792 7.12499 14.6982 6.24399C14.3273 5.37935 13.7959 4.59281 13.1322 3.92599C12.4774 3.26714 11.7006 2.74205 10.8452 2.37999C9.96394 2.01011 9.01679 1.823 8.06112 1.82999C7.09756 1.82424 6.14256 2.01089 5.25207 2.37899C4.38635 2.73649 3.60009 3.26206 2.93873 3.92529C2.27738 4.58852 1.75405 5.37627 1.39901 6.24299C1.03165 7.13642 0.845707 8.094 0.851999 9.05998C0.844089 10.018 1.03016 10.9678 1.39901 11.852V11.853Z" fill="white")
            .scroll
                a(href="#scroll-button")
                    p.scroll__title Scroll Down
                        button.scroll__button(title="scroll down")
                            svg(class="scroll" xmlns="http://www.w3.org/2000/svg" width="13.5" height="7.656" viewbox="0 0 13.5 7.656")
                                path(d="M896.125,616.651l-3.375-3.375,0.844-.844,5.906,5.907,5.906-5.977,0.844,0.844-6.75,6.82-0.844-.843Z" transform="translate(-892.75 -612.375)" fill="white")
        header.header
            input(type="checkbox" id="check-menu")
            label(for="check-menu")
                h2.logo__title_small Bhromaon
            .burger-line.burger-line__first
            .burger-line.burger-line__second
            .burger-line.burger-line__third
            .burger-line.burger-line__fourth
            nav.main-menu
                ul
                    li
                        a(href="#").main-menu__element Who We Are
                    li
                        a(href="#").main-menu__element What We Do
                    li
                        a(href="#").main-menu__element Travel With Us
                    li
                        a(href="#").main-menu__element Contact Us
        section.main(id="scroll-button")
            .main__left-block
                .main__block
                    h2.main__title Why Choose Us
                    p.main__parag_one Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee
                    p.main__parag_two Ddislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that.
                    button.main__button
                        span.main__button-span Explore Places
            .main__right-block
                section.right-block__img
                    img(src="" alt="")
                    img(src="" alt="")