svg(class="icon-sprite" hidden xmlns="http://www.w3.org/2000/svg")
    symbol(id="chek" viewBox="0 0 59.91 59.91")
        path(d="M46.2 18.7a1.4 1.4 0 00-1.2.57L25.73 38 19 31.22a1.83 1.83 0 00-1.33-.56 1.42 1.42 0 00-1.2.56 1.41 1.41 0 00-.56 1.19 1.84 1.84 0 00.56 1.34l8 8a.68.68 0 00.49.35 3.67 3.67 0 00.77.07 3.12 3.12 0 00.64-.07.7.7 0 00.49-.35l20.53-20A1.42 1.42 0 0048 20.6a2.15 2.15 0 00-.42-1.33 1.8 1.8 0 00-1.38-.57zm11.39-.42A29.81 29.81 0 0030 0 29.81 29.81 0 000 30a29.81 29.81 0 0030 30 29.81 29.81 0 0030-30 29.79 29.79 0 00-2.41-11.72zm-2.25 22.43a29.72 29.72 0 01-5.84 8.79 29.72 29.72 0 01-8.79 5.84A26.64 26.64 0 0130 57.52a26.59 26.59 0 01-10.8-2.18 29.72 29.72 0 01-8.79-5.84 29.53 29.53 0 01-5.84-8.79A26.64 26.64 0 012.39 30a26.59 26.59 0 012.18-10.8 29.53 29.53 0 015.84-8.79 29.53 29.53 0 018.79-5.84A26.59 26.59 0 0130 2.39a26.64 26.64 0 0110.71 2.18 29.53 29.53 0 018.79 5.84 29.72 29.72 0 015.84 8.79A26.59 26.59 0 0157.52 30a26.64 26.64 0 01-2.18 10.71z")
    symbol(id="lupa" viewBox="0 0 20 20")
        path(d="M14.22 13.21a6.59 6.59 0 00.78-1.09 8.44 8.44 0 00.6-1.25A6.74 6.74 0 0016 9.5a7.73 7.73 0 00.13-1.42 7.82 7.82 0 00-.65-3.17 8.34 8.34 0 00-1.74-2.57A8.07 8.07 0 0011.16.62 8 8 0 008.05 0a8 8 0 00-5.71 2.34A8 8 0 000 8.08a8 8 0 00.62 3.11 8.11 8.11 0 001.72 2.57 8.49 8.49 0 002.56 1.75 7.72 7.72 0 003.15.64A8.6 8.6 0 009.47 16a7.45 7.45 0 001.37-.37 9.44 9.44 0 001.24-.6 6.8 6.8 0 001.09-.8L18.94 20l1-1zm-1.09-.05a7.48 7.48 0 01-2.29 1.57 6.67 6.67 0 01-2.79.58 6.86 6.86 0 01-2.81-.58 7.45 7.45 0 01-2.31-1.57 7.27 7.27 0 01-1.54-2.29 7.19 7.19 0 01-.54-2.79 7.37 7.37 0 01.54-2.82 7.29 7.29 0 011.54-2.32A7.19 7.19 0 018.05.85a7 7 0 012.79.55 7.22 7.22 0 012.29 1.54 7.52 7.52 0 011.56 2.32 7 7 0 01.57 2.82 6.86 6.86 0 01-.57 2.79 7.5 7.5 0 01-1.56 2.29z")
    symbol(id="scroll-down" viewBox="0 0 13.5 7.66")
        path(d="M12.66 0L6.75 5.98.84.07 0 .91l3.38 3.38 2.53 2.53.84.84L13.5.84 12.66 0z")
    symbol(id="sign" viewBox="0 0 61.31 58.78")
        path(d="M61 26.51a4.67 4.67 0 00-1.05-1.62 6.21 6.21 0 00-1.76-1.05 6 6 0 00-2.19-.36H36.84l1.06-2.74a23 23 0 001.1-3.58 36.56 36.56 0 00.87-4.16 29.21 29.21 0 00.35-4.57 13.55 13.55 0 00-.56-4.29 6.82 6.82 0 00-1.55-2.6A4.57 4.57 0 0036 .28 9.12 9.12 0 0033.75 0a5.68 5.68 0 00-1.48.21A4.08 4.08 0 0030.8 1a3.19 3.19 0 00-1.13 1.2 3.34 3.34 0 00-.42 1.62q0 .84-.77 6.33a14.2 14.2 0 01-5.14 9.14q-2.25 1.83-3.86 3.09a23 23 0 01-2.89 2 6.3 6.3 0 01-2.18 1.12 8.83 8.83 0 01-2.32.28h-11l-1.09.1V53.3h12.8a6.91 6.91 0 012.32.7c1.07.47 2.18.94 3.3 1.41.94.37 1.88.77 2.81 1.19a23.11 23.11 0 002.82 1.06 17.69 17.69 0 002.67.84 10.29 10.29 0 002.25.28h18.56a5.33 5.33 0 002.11-.42 7.24 7.24 0 001.83-1.13 5.21 5.21 0 001.12-1.68 4.83 4.83 0 00.43-2 5.07 5.07 0 00-.29-1.76 5.25 5.25 0 00-.84-1.48 3.69 3.69 0 001.55-.63 5.91 5.91 0 001.26-1.19 8.76 8.76 0 00.71-1.49 5.33 5.33 0 00.28-1.76 5.59 5.59 0 00-.28-1.69 8 8 0 00-.71-1.54 7.08 7.08 0 001.41-.78 9.46 9.46 0 001.27-1.05 8.12 8.12 0 00.7-1.55 5.49 5.49 0 00.28-1.63 5.26 5.26 0 00-.28-1.75 8.72 8.72 0 00-.7-1.48 8 8 0 001.54-.7 4.81 4.81 0 001.27-1.13 5.07 5.07 0 00.81-1.57 5.64 5.64 0 00.28-1.82 5.74 5.74 0 00-.28-2.04zm-2.18 3.23a4.66 4.66 0 01-.7.92 1.69 1.69 0 01-.85.63 3.54 3.54 0 01-1.27.21h-4.11v2.39H53a2.61 2.61 0 011.12.28 3.89 3.89 0 011 .71 2.12 2.12 0 01.7.84 2.88 2.88 0 01.29 1.28 2.58 2.58 0 01-.28 1.13 3.7 3.7 0 01-.7 1 2.77 2.77 0 01-1 .64 3.21 3.21 0 01-1.12.21H49.5v2.39h1a2.48 2.48 0 011.13.28c.37.19.7.38 1 .56a8.7 8.7 0 01.57 1 2.57 2.57 0 01.28 1.12 2.62 2.62 0 01-.28 1.13 9.45 9.45 0 01-.57 1 2.75 2.75 0 01-1 .63 3.22 3.22 0 01-1.13.21h-3.25v2.4h.28a3.64 3.64 0 011.27.21 2.75 2.75 0 011 .63 3 3 0 01.63.91 3.06 3.06 0 01.22 1.2 3.19 3.19 0 01-.22 1.12 1.69 1.69 0 01-.63.85 3.87 3.87 0 01-1 .7 2.79 2.79 0 01-1.27.28H29a6.89 6.89 0 01-2-.35l-2.53-.77a23.73 23.73 0 01-2.6-1.06c-.89-.42-1.71-.82-2.46-1.19-1.6-.66-2.93-1.2-4-1.62a7.67 7.67 0 00-2.6-.63H2.39V28.13h9.7a10.34 10.34 0 003-.43 12.61 12.61 0 002.81-1.26 24.85 24.85 0 003-2.18l4-3.31a14.22 14.22 0 003.73-4.64 29.08 29.08 0 002-5.2 23.69 23.69 0 00.84-4.5c.09-1.31.14-2.25.14-2.81a1.27 1.27 0 01.84-1.13 3.31 3.31 0 011.27-.42 6.12 6.12 0 012.56.75c1 .52 1.55 2.32 1.55 5.42q0 5.9-3.94 15.61l-.84 1.68H56a3.06 3.06 0 012.25.85 2.7 2.7 0 01.84 2 2.33 2.33 0 01-.31 1.18z")