@import "utils/mixins";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2, p {
    font-family: Josefin Sans;
    font-style: normal;
}

.first-screen {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    background: url(images/image1.jpg);
    background-size: cover;
}

.first-screen__content {
    box-sizing: border-box;
    left: 0;
    padding: 20px 20px 80px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.logo {
    text-align: center;
}

.logo__title {
    font-weight: 600;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    color: #fff;
}

.logo__subtitle {
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 6.82px;
    color: #fff;
}

.search {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search__form {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.search__line {
    width: 315px;
    padding: 5px;
    height: 60px;
    outline: none;
    font-family: 'Josefin Sans';
    text-align: center;
    background: #fff;
    letter-spacing: 2.8px;
    border-right: none;
    border: #fff;
}

.search__button {
    width: 60px;
    height: 60px;
    background: #5474FD;
    border: 2px solid #FFF;
}

.button__text {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    letter-spacing: 1.4px;
}

@media screen and (min-width: 768px) {
    .button__text {
        display: none;
    }
}









.scroll__title {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
    font-family: 'Josefin Sans';
    font-size: 14px;
    line-height: 14px;
    color :#ffffff;
    letter-spacing: 2.8px;
}

.scroll__button {
    background: none;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    border: none;
    padding-top: 20px;
}

.header {
    position: sticky;
    top: 0;
    margin: auto;
    width: 100%;
    background-color: #5474FD;
    position: relative;
    color: #fff;
    text-align: center;
    height: 80px;
}

#check-menu {
    display: none;
}

label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    line-height: 80px;
}

.burger-line {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transition: .5s all;
}

.burger-line__second, .burger-line__third {
    top: 40px;
}

.burger-line__fourth {
    top: 50px;
}

.main-menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
}

.main-menu__element {
    display: block;
    width: 100%;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-top: 1px solid rgba(255,255,255,.3);
    background-color: #5474FD;
}

.main-menu__element:hover {
    background-color: #5474FD;
}

#check-menu:checked ~ .main-menu {
    max-height: 500px;
    font-size: 16px;
}

#check-menu:checked ~ .burger-line__first {
    display: none;
}

#check-menu:checked ~ .burger-line__second {
    transform: rotate(45deg);
}

#check-menu:checked ~ .burger-line__third {
    transform: rotate(-45deg);
}

#check-menu:checked ~ .burger-line__fourth {
    display: none;
}